
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: thistle;
    font-family: "Spectral";
    font-weight: 400;
}

body.capp-cache {
    display: initial;
}

#container {
    text-align: center;
    width: 80vw;
    height: 100%;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container > img {
    height: 20vh;
}


#content > h1 {
    font-size: 3vh;

}

#content > p {
    font-size: 2vh;
}