{
  /*"presets": [
    ["env"]
  ],
*/
  "sourceMaps":"inline",

  /*"plugins": [
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }
    ]
  ],*/

  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}